<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style>
        body{
            background-image:url(
"https://c.tenor.com/-vaoqUTPfaYAAAAC/youtube.gif");
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: 75% 85%;
            background-position: center bottom;
        }
        </style>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname" style="color:black;font-size:30px;text-align:center;" >
			Google APP Engine Project
		</div>
		<h2 style="color:black;font-size:50;text-align: center;">Spam Detection For Youtube Comments</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form style="color:black;font-size:20;text-align: center;" action="{{ url_for('predict')}}" method="POST">
		<p style="color:black;font-size:20px;text-align: center;" >Enter Your Comment Here!</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="comment" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>

